
.search-wrapper {
    max-width: 500px;
    margin: auto;
}

.search-box {
    position: relative;
    background: #fff;
    border-radius: 50px;
    padding: 6px 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    gap: 10px;
}

.search-icon {
    font-size: 18px;
    color: #777;
    margin-right: 5px;
}

.search-select {
    border: none !important;
    box-shadow: none !important;
}

.search-select:focus {
    outline: none !important;
}

.search-button {
    border-radius: 50px;
    padding: 6px 20px;
}
